:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; 
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

::placeholder {
  color: white;
  opacity: 0.5; /* Firefox */
}

body {
    margin: 0;
    background-color: #6943FF;
}

h1 {
    color: white;
    align-content: center;
    text-align: center;
    font: Inter;
    font-weight: 800;
    font-size: 28px;
    margin-top: 50px;
}

#quantity-div {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

#quantity {
    width:117px;
    height:83px;
    background-color: transparent;
    border:2px solid #B295FF;
    border-radius: 5px;
    font-family: Inter, sans-serif;
    font-weight: 800;
    font-size: 58px;
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#convert-btn {
    border-radius: 5px;
    width: 122px;
    height: 42px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-top: 35px;
    color: #3D3D3D;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.quantity-text {
    color: #B295FF;
    font-size: 20px;
    font-weight: 500px;
}

.main {
    background: #1F2937;
    padding: 50px;
    padding-top: 25px;
    padding-bottom: 90px;
    margin-top: 40px;
    text-align: center;
    color: white;
    font: Inter;
}

.section {
    background: #273549;
    padding: 5px;
    margin-top: 30px;
}

